<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Math.min()</h2>

<p>Math.min() retorna o menor valor em uma lista de argumentos::</p>

<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML =
Math.min(0, 150, - 1, 1, -889, -200);
</script>

</body>
</html>